numpy==1.26.3
scipy==1.13.1
matplotlib==3.8.2
pandas==2.2.2
joblib==1.4.2
tqdm==4.67.1
optuna==4.3.0
soundfile==0.13.0
pesq==0.0.4
pystoi==0.4.1
scikit-learn==1.5.1
torch==2.5.1
torchaudio==2.5.1
torchmetrics==1.6.1
einops==0.6.0
rir-generator==0.1.4
pyroomacoustics==0.8.3
mir_eval==0.7